@font-face {
    font-family: nasalization-rg;
    src: url(nasalization-rg.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(OpenSans-Regular.ttf);
}
html {
    font-family:"OpenSans-Regular";
    font-size: 14px;
    background-color: #f2f2f2;
}
body {
    text-align: center;
}
header {
    background-image: url(texture-header.jpg);
    height: 150px;
}
h1{
    font-family:"nasalization-rg";
    font-size: 40px;
    color: #27d1ff;
    vertical-align: middle;
    text-align: center;
}
nav {
    display: inline-block;
    background-color: #2e2f30;
    padding-right: 50px;
    margin: 0px;
    color: white;
    text-align: right;
    vertical-align: middle; 
}
a:hover {
    color: #17c1ff;
    text-decoration:#17c1ff;
    font-weight: bolder;
    }
footer {
    align-items: center;
}
h2 {
    text-transform: uppercase;
text-shadow: blue;
  color: black;
  background-color: lightgray;
  font-weight: bold;
  font-size: 30px;
}
#block1 {
    color: #3b6674;
    align-items: center;
    text-align: center;
    padding: 10px 10px 10px;;
}
p {
    text-align: center;
}
.imageflottante
		{
           float: center;
    }
table {
    width: 810px;
                align-content: center;
                text-align: center;
                vertical-align: middle;
                width: 50%;
    }
fieldset {
   padding: 30px;
    width: 250px;
    vertical-align: middle;
    margin: 0 auto;
    font-family: "OpenSans-Regular";
    border-color: #e6e6e6;
    border-width: 2px;
}
